<div class="container content mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Profesores</h3>
                </div>
                <div class="card-body">
                    <app-form-nuevo-profesor (onItemAdded)="agregado($event)"></app-form-nuevo-profesor>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-5">
    <div class="row">
        <!-- d es lo mismo que usar $event -->
        <app-profesor 
            *ngFor="let profesor of profesoresApiClient.getAll(); let i=index" 
            [profesor]="profesor" 
            [idx]="i+1"
            (clicked)="elegido(profesor)">
        </app-profesor>
    </div>
    <hr class="mt-5">
    <div class="row">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let u of updates;">
                {{u}}
            </li>
        </ul>
    </div>
</div>