<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value,fg.controls['asignatura'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..."
            [formControl]="fg.controls['nombre']">
            <ul>
                <li *ngFor="let r of searchResults;">{{r}}</li>
            </ul>
        <div class="text-danger text-monospace" *ngIf="fg.controls['nombre'].hasError('required')">Nombre Requerido</div>
        <div class="text-danger text-monospace" *ngIf="fg.controls['nombre'].hasError('invalidName')">Nombre inválido</div>
        <div class="text-danger text-monospace" *ngIf="fg.controls['nombre'].hasError('minLongName')">El nombre debe tener por lo menos {{minLong}}
            caracteres de largo</div>
    </div>
    <div class="form-group">
        <label for="asignatura">Clave de Asignatura</label>
        <input type="text" class="form-control" id="asignatura" placeholder="Ingresar asignatura..."
            [formControl]="fg.controls['asignatura']">
        <div class="text-danger text-monospace" *ngIf="fg.controls['asignatura'].hasError('required')">Clave requerida</div>
        <div class="text-danger text-monospace" *ngIf="fg.controls['asignatura'].hasError('minLongClave')">Clave inválida</div>
    </div>
    <button type="submit" class="btn btn-success" *ngIf="fg.valid">Guardar</button>
</form>