<div class="card mb-3 h-100">
    <div class="card-header">
        <h4>{{idx}}</h4>
    </div>
    <img src="https://placeimg.com/380/230/nature" class="card-img-top" alt="">
    <div class="card-body">
        <div class="card-title">
            <h3 class="mt-2">{{profesor.nombre}}</h3>
        </div>
        <div class="card-subtitle">
            <h6 class="my-2 text-muted">Clave: {{profesor.asignatura}}</h6>
        </div>
        <div class="card-text">
            <ul>
                <li *ngFor="let s of profesor.descripcion">
                    <span [ngSwitch]="s">
                        <i *ngSwitchCase="'matutino'" style="color: red">{{s}}</i>
                        <i *ngSwitchDefault>{{s}}</i>
                    </span>
                </li>
            </ul>
            <a class="card-link" routerLink="/detalle">Ver detalle</a>
        </div>
    </div>
    <div class="card-footer">
        <a href="#" class="btn {{profesor.btnColor}}" (click)="ir()">
            <span *ngIf="!profesor.isSelected()">
                Favorito
            </span>
            <span *ngIf="profesor.isSelected()">
                <span ngNonBindable>{{Seleccionado}}</span>
            </span>
        </a>

    </div>
</div>